<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!-- '>' symbol below is all we need to use a partial, followed by the partial file name and the object we'll pass to the partial --}}
      {{> post-info post }}
  </li>
  {{/each}}
</ol>